<% provide(:title, "About") %>

<div class="center jumbotron">
  <%= link_to image_tag("corgi_about.jpg", alt: "Corgi Mingle", class: "style_image") %>
</div>

<p>
  Corgi Mingle is the microblog platform for Pembroke Welsh corgis, Cardigan Welsh corgis and Swedish Vullhunds!
</p>
<br/>
<p>
  We are not a very exclusive community so if you are a whippet or golden, we won't run machine learning algorithms on your face and tell you sadly that you are not a corgi.
</p>
<p>
  With Corgi Mingle, you don't have to sit at home all day staring at the goldfish while waiting for your owner. Because you will find your soulmate, here, and humans won't matter for you anymore.
</p>