<% provide(:title, 'Contact') %>

<div class="center jumbotron">
  <%= link_to image_tag("contact.jpg", alt: "Corgi Mingle", class: "style_image") %>
</div>

<p>
  If you have any questions about corgi Mingle, let <a href='https://www.linkedin.com/in/yutingyue'>Summer</a> know! 
</p>
<p>
  Unfortunately, I will no longer accept requests to build social network platforms for cats and pet pigs. <br/> No offense, but they aren't corgis.
</p>