<% provide(:title, "Help") %>

<div class="center jumbotron">
  <%= link_to image_tag("corgi_help.jpg", alt: "Cardigan Welsh Corgi", class: "style_image") %>
</div>

<p>
  Hello Corgi! Welcome to the world's one and only social network, designed just for corgis!
</p>

<p>
  There are so many other cute corgis in the world. Have you dreamed about meeting the Queen Elizabeth's royal corgis? 
</p>

<p>
  Corgis are born to herd, not to surf the internet. Therefore, it is absolutely understandable if you feel lost on the site. However, trust me, this site is very simple to use.
</p>

<p>
  You first click the signup button to register a corgi account. We will send you an email for you to activate your account. You click the link in your email, and hurray, you will be an officila member of Corgi Mingle!
</p>