<div class="center jumbotron">

  <h2>
    Welcome to the one and only
    <a href='https://aqueous-brushlands-71078.herokuapp.com'>social network for corgis</a> in the world !
    <br/> If you are a pembroke welsh corgi, cardigan welsh corgi, or even a swedish vallhund, <br/>here you will find your soulmates.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <%= link_to image_tag("topi_kiss.jpg", alt: "Topi the Corgi", class: "style_image"),
            'https://www.youtube.com/channel/UC62zoJ8N9JdSnFDbcKjOUDA' %>
</div>

<div class="center jumbotron">
  <%= link_to image_tag("cardigan.jpg", alt: "Cardigan Welsh Corgi", class: "style_image"),
            'https://www.youtube.com/watch?v=pSCS-qilsA4' %>

</div>

<div class="center jumbotron">
  <%= link_to image_tag("corgi_group.jpg", alt: "Cardigan Welsh Corgi", class: "style_image"),
            'https://www.youtube.com/watch?v=95coGW386n8' %>

</div>